/* header{
  background-image: url('../public/Assets/bg.jpg');
  background-size: cover;
  height: 100vh;
  

} */

/* :root {
  --animate-duration: 2s;
  --animate-delay: 1s;
} */
/* .animate__animated .animate__fadeInLeft{
  --animate-duration: 5s;
  --animate-delay: 3s;
}
.animate__animated .animate__fadeInUp{
  --animate-duration: 2s;
  --animate-delay: 0.9s;
} */
.Nav{
  display: inline-block;
  color: white !important;
  margin-right: 20px;
  text-decoration: none;
  /* font-size: 20px; */
  font-weight: 400;
  text-transform: uppercase;
}
.Nav:hover{
  color: #FFFF00 !important;
}
.marquee{
  color: white;
  font-size: 20px;
  font-family: Outfit;
  margin-top: 10px;
}
/* ul{
  display: flex;
  flex-wrap: wrap;
} */
.slide_1{
  background-image: url('../public/Assets/bg.jpg');
  height: 100vh;
  background-size: 100% 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom:1px solid white ;
}
.slide_2{
  background-image: url('../public/Assets/Slide_2.jpg');
  height: 100vh;
  background-size: 100% 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom:1px solid white ;
}
.slide_3{
  background-image: url('../public/Assets/Slide_3.jpg');
  height: 100vh;
  background-size: 100% 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom:1px solid white ;
}
#nav_logo{
  transition: all;
  transition-duration: 1s;
}
#hiddenNav{
  display: none;
}
@media only screen and (max-width:1024px){
  #nav_logo{
    width: 80px;
    height: 80px;
  }
  /* .typoHeading{
    font-weight: 30px !important;
  } */
  
}

@media only screen and (max-width:1300px){
  #footieLogo{
    width: 200px;
    height: 200px;
  }
  #footieText{
    width: 600px;
    height: 80px;
  }

}

@media only screen and (max-width:768px){
 .typoHeading{
  font-size: 32px !important;
  margin-top: 20px !important;
  
} 

#NavBar > div{
  flex-wrap: wrap;

}

}

@media only screen and (max-width:425px){
  /* #NavBar{
    display: none;
  } */
  #footieLogo{
    width: 100px;
    height: 100px;
    position: relative;
    left: 20px;
  }
  #footieText{
    width: 350px;
    height: 60px;
    position: relative;
    left: 5px;
    top: 10px;

  }
  .btnGroup{
    display: none !important;
  }
  .typoHeading{
    font-size: 20px !important;
    margin-top: 50px !important;
    text-align: center;
  }
  .para{
    font-size: 16px !important;
    text-align: justify;
  }
 #hiddenNav{
  display: block;
 padding: 10px;
 }
 #visiableNav{
  display: none !important;
 }
 #marquee{
  display:  none !important;
 }
}

@media only screen and (max-width:375px){
  #footieText{
    width: 300px;
  }

}

@media only screen and (max-width:320px){
  #footieText{
    width: 300px;
  }
  #footieLogo{
    width: 90px;
    height: 90px;
  }
}